#app {
  background-color: #343541;
  overflow: hidden;
  display: flex;
  height: 100vh;
}

#content {
  position: relative;
  height: 90%;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow-x: hidden;
}

#bottom-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  background-color: #343541;
  padding-top: 15px;
}

@media only screen and (max-width: 768px) {
  #content {
    width: 75%;
    height: 80%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #content {
    width: 70%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
  #content {
    width: 75%;
  }
}
